.header-container {
  /* background-color: #282c34; */
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #555962 35%, #00d4ff 100%);
}

.header-wrap {
  height: 64px;
  max-width: 1400px;
  margin: 0 auto;

  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left-wrap {
  /* display: flex; */
  /* align-items: flex-end;
  justify-content: space-between; */
  margin: 5px;
}

.header-left-wrap img {
  width: 123px;
}

.header-right-wrap {
  margin: 5px;
}

.header-right-wrap .right-menu {
  right: 20px;
  display: flex;
  margin-left: 16px;
  margin-top: 20px;
  align-items: center;
}

.header-right-wrap .right-menu li {
  padding: 8px;
}

.header-right-wrap .right-menu>ul>li>a:hover {
  color: #39d9c8;
  transition: all .3s ease
}

.header-right-wrap .right-menu>ul>li::before {
  display: block;
  content: '';
  padding-top: 3px;
}

.header-right-wrap .right-menu>ul>li:after {
  display: block;
  content: '';
  border-bottom: solid 3px #39d9c8;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.header-right-wrap .right-menu>ul>li:hover:after {
  transform: scaleX(1);
}


.header-nav-item {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.header-nav-user {
  color: #ffffff;
  display: flex;
  align-items: center;
  /* background-color: #fff; */
  border-radius: 3px;
  /* outline: 1px dashed; */
  margin-left: 20px;
  cursor: pointer;
}

.header-nav-user img {
  width: 30px;
  /* border: 1px solid #fff; */
}

.header-nav-user .username {
  padding-left: 8px;
  margin-top: 2px;
  font-weight: 800;
  position: relative;
}

.header-nav-user .logout {
  position: absolute;
  top: 52px;
  right: 0px;
  background-color: #1b1a1a;
  /* border: 2px solid #0e0e0e; */
  padding: 3px;
  display: none;
}

.header-nav-user .logout.active {
  display: block;
}

.header-nav-user .logout ul li {
  color: #fff;
  padding: 5px;
  font-weight: 600;
}