.user-container .footer-container {
  display: block;
  position: absolute;
  bottom: 1px;
  border-top: 0px;
}

.main-container .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 13px;
}

.main-container .footer-container .footer-wrap {
  color: #020024;
  line-height: 1.2;
}

.footer-container {
  padding: 10px 20px 35px 20px;
}

.footer-container {
  border-top: 0.1rem solid #dde0ea;
  width: 100%;
}

.footer-wrap {
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  padding: 2px 2px;
}